#Nuevo_Contacto{
	width: 25%;
	border: 1px solid;
	padding: 15px 15px;
}
#nombre, #apellido, #sexo, #edad, #domicilio, #nacionalidad, #tel, .sub{
	margin: 8px;
	padding: 3px;
	width: 55%;
}
#edad{
	width: 15%;
}
#sexo{
	width: 18%;
}
.frm{
	font-size: 16px;
}